# App-specific environment variables
DATABASE=devops_hemtenta_db
PASSWORD=postgres123
DB_HOST=db
DB_PORT=5432

# Database container-specific environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=devops_hemtenta_db
